body {
	background: #184d47;
	color: #d6efc7;
	font-family: 'Inconsolata', monospace;
}

.title {
	font-size: 40px;
	padding-bottom: 20px;
	text-align: center;
}

.info_container {
	padding: 10px;
}

.info {
	font-size: 30px;
	margin: 0 10px 20px 0;
	text-align: center;

}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.object {
	width: 200px;
	height: 200px; 
	margin: 25px 25px 25px 50px;
	cursor: pointer;
}

.fas:hover {
	color: #fad586;
}

.fas {
	font-size: 200px;
	color: #d6efc7;
}

.play_again_cont {
	display: flex;
	justify-content: center;
}

.play_again {
	text-align: center;
	border: 4px solid #d6efc7;
	border-radius: 15px;
	padding: 15px 30px;
	font-size: 20px;
	font-weight: bold;
}

.play_again:hover {
	border-color: #fad586;
	color: #fad586;
	cursor: pointer;
}
